<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset="utf-8">
    <title>Cours</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,accueil">
    <meta name="Description" content="Mes Cours">
    {% include(components/theme_header.html) %}
    <link rel="stylesheet" href="{% assets(css/maquettecours.css) %}">
    <link rel="stylesheet" href="{% assets(css/themecours.css) %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"/>
</head>
<body onload="chargementTheme()">
<canvas id="fond"></canvas>
{% include(components/header.html) %}
<section>
    <div id="grid2">
        <p class="titre">{{ className }}</p>
        <hr />
        <div class="content">
            <p>{{ classDescription }}</p>
            <hr />
                {{ classContent }}
        </div>
    </div>

</section>

{% include(components/footer.html) %}
<script src="{% assets(js/testcanvas.js) %}"></script>
<script src="{% assets(js/sidenav.js) %}"></script>
{% include(components/theme.html) %}
</body>
</html>